<!DOCTYPE html>
<html>
<head>
  <title>Plot</title>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
    var data = [
      {
        x: <%-x%>,
        y: <%-y_percentage%>,
        type: 'scatter',
        name: 'percentage'
      },
      {
        x: <%-x%>,
        y: <%-y_distance%>,
        type: 'scatter',
        yaxis: 'y2',
        name: 'distance'
      }
    ];

    var layout = {
      title: 'Water Tank Level and Distance Plot',
      yaxis: {title: 'percentage'},
      yaxis2: {
        title: 'distance',
        titlefont: {color: 'rgb(148, 103, 189)'},
        tickfont: {color: 'rgb(148, 103, 189)'},
        overlaying: 'y',
        side: 'right'
      }
    };

   

    Plotly.newPlot('myDiv', data, layout);
  </script>
</body>
</html>