<!DOCTYPE html>
<html>
<head>
  <title>Plot</title>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
    var data = [
      {
        x: <%-x%>,
        y: <%-y%>,
        type: 'scatter'
      }
    ];

    Plotly.newPlot('myDiv', data);
  </script>
</body>
</html>